<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.abc">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="25" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!--
     android:requiresSmallestWidthDp="integer"
      android:compatibleWidthLimitDp="integer"
      android:largestWidthLimitDp="integer"
    -->
    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleInstance"
        android:splitMotionEvents="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:windowEnableSplitTouch="false">
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Contact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".News"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Brands"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Offers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Enquiry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductTypeSizeSingleViewFullDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductTypes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductSizes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductSubTypes"
            android:screenOrientation="portrait" />
        <!--
            <activity
            android:name=".ProductTypeSubTypeImages"
            android:screenOrientation="portrait"/>
        -->
        <activity
            android:name=".ProductTypesGridView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductTypeSizes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductTypeSizeImagesGridView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductTypeSingleViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductSubTypeSingleViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductSizeGridViewImages"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductSizeImageSingleViewFullDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddProducts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductSizeSingleViewFullImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductSubTypeSingleViewImageFull"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleViewImageFull"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductTypeSingleImageFullViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddProductsTypes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddProductsSubType"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteProducts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteProductTypes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddGridSubTypes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductSubTypeGridView"
            android:screenOrientation="portrait" />
        <!--
ATTENTION: This was auto-generated to add Google Play services to your project for
    App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.example.admin.abc.GlideConfiguration"
            android:value="GlideModule" />

        <!--
        <activity android:name=".AddProductSizes">
        </activity>
        -->
        <activity
            android:name=".AddProductTypeSizes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteProductSubTypes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddProductSizes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteProductTypeSizes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteProductSizes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddGridProductTypes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddGridProductTypeSizes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddGridProductSizes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteGridSubTypes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteGridProductSizes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteGridProductTypes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteGridProductTypeSizes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Products"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddBrands"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNews"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteNews"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsDescription"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddContact"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeleteContact"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="73af28913d7e9d4e7d50d8a1de7164b9484fdfcd" />

        <activity
            android:name=".Trial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trial1"
            android:screenOrientation="portrait" />
        <activity android:name=".Refresh"></activity>
    </application>

</manifest>